### Visual Studio Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets


# Local History for Visual Studio Code
.history/

### IntelliJ
.idea/

### Yarn ###
node_modules
.pnp.*
.yarn/*
yarn-error.log
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

### C# ###
bin
obj

### Python ###
__pycache__

### Typescript ###
*.tsbuildinfo

### Common ###
*.exe

### Turborepo ###
.turbo